/* CSS reset for elements in this project */
html, body, div, section, article, h2, p, span, footer, main, header, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

:root {
  --color-violet: 263, 55%, 52%;
  --color-dark-grey-blue: 217, 19%, 35%;
  --color-black-blue: 219, 29%, 14%;
  --color-white: 0, 0%, 100%;
  --color-light-grey: 0, 0%, 81%;
  --color-light-grey-blue: 210, 46%, 95%;
}

html {
  font-size: 13px;
}

body {
  font-size: 1rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  background-color: hsl(var(--color-light-grey-blue));
}

h2 {
  font-weight: 600;
}

.container {
  padding: 55px 25px;
  max-width: 500px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 25px;
}

article {
  padding: 25px 35px 35px;
  border-radius: 10px;
}

.violet {
  background-color: hsl(var(--color-violet));
  color: hsl(var(--color-light-grey));
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 89% 0;
}

.grey-blue {
  background-color: hsl(var(--color-dark-grey-blue));
  color: hsl(var(--color-light-grey)); 
}

.black-blue {
  background-color: hsl(var(--color-black-blue));
  color: hsl(var(--color-light-grey));
}

.white {
  background-color: hsl(var(--color-white));
  color: hsl(var(--color-dark-grey-blue));
}

.testimonial-header {
  display: flex;
  margin-bottom: 15px;
}

.testimonial-header img {
  border-radius: 50px;
  border: 2px solid hsl(var(--color-light-grey));
  margin-right: 20px;
}

.testimonial-header p {
  opacity: 0.5;
  font-size: 0.85rem;
}

.testimonial-highlight {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
}

.testimonial:not(.white) .testimonial-highlight {
  color: hsla(var(--color-white), 0.9);
}

.testimonial-text {
  opacity: 0.7;
  line-height: 1.4;
}

footer {
  text-align: center;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  article {
    padding: 25px 36px 35px;
  }

  .container {
    grid-template-areas: "left" "right";
    max-width: 885px;
    grid-template-rows: auto;
    padding: 7% 25px;
  }

  .left {
    grid-template-areas: "top top" "bottom bottom";
    grid-area: left;
  }

  .right {
    grid-area: right;
  }

  .top {
    grid-template-columns: 2.1fr 1fr;
    grid-area: top;
    grid-template-rows: auto;
  }

  .bottom {
    grid-template-columns: 1fr 2.1fr;
    grid-area: bottom;
  }
}

@media only screen and (min-width: 1200px) {

  .container {
      grid-template-columns: 3fr 1fr;
      grid-template-areas: "left right";
      max-width: 1160px;
  }

}