/* CSS reset for elements in this project */
html, body, div, section, h1, h2, p, span, footer, main, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    min-height: 100vh;
}

main {
    padding: 150px 20px 30px;
}

h1 {
    font-size: 2.8em;
    font-weight: 700;
    color: hsl(238, 29%, 16%);
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: hsl(240, 6%, 50%);
    line-height: 1.5;
}

.card {
    background-color: #fff;
    border-radius: 25px;
    padding: 150px 25px 50px;
    box-shadow: 0px 20px 20px rgb(0 0 0 / 30%);
}

.card-image {
    position: relative;
    text-align: center;
}

.card-image img {
    position: absolute;
    left: 50%;
}

.card-image .img-top {
    bottom: 60px;
    transform: translateX(-55%);
}

.card-image .img-btm {
    bottom: 45px;
    transform: translateX(-50%);
}

.img-desktop {
    display: none;
}

.accordion {
    border-bottom: 1px solid hsla(240, 5%, 91%, 0.7);
    padding: 20px 0 10px;
    cursor: pointer;
}

.accordion-title {
    font-size: 1.1em;  
    color: hsl(238, 29%, 16%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.2s linear;
}

.accordion:hover .accordion-title {
    color: hsl(14, 88%, 65%);
    transition: color 0.2s linear;
}

.accordion-content {
    height: 0;
    padding-top: 10px;
    overflow: hidden;
}

.active .accordion-content {
    height: auto;
}

.active .accordion-title {
    font-weight: 700;
}

.accordion-title img {
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
}
.active .accordion-title img {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

footer {
    padding: 20px;
    text-align: center;
}

footer p {
    color: #fff;
}

footer a {
    color: #fff;
}

@media only screen and (min-width: 1024px) {

    main {
        padding: 150px 80px 30px;
    }

    .card {
        display: flex;
        padding: 0;
        max-width: 860px;
        margin: 0 auto;
    }

    .card > div {
        width: 50%;
    }

    .card-image img {
        top: 38%;
        left: -92px;
    }

    .card-image {
        background-image: url(./images/illustration-woman-online-desktop.svg), url(./images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: 400px, 900px;
        background-position: -65px 50%, -570px 75%;
    }

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
    }

    .card-content {
        padding: 80px 80px 80px 0;
    }

}