html, body, div, section, h1, p, span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Set base styles */
:root {
    --color_darkblue: hsl(233, 47%, 7%);
    --color_desatblue: hsl(244, 38%, 16%);
    --color_violet: hsl(277, 64%, 61%);
    --color_white: hsl(0, 0%, 100%);
    --font_lexend: 'Lexend Deca', sans-serif;
    --font_inter: 'Inter', sans-serif;
}

body {
    font-size: 15px;
    background-color: var(--color_darkblue);
    font-weight: 400;
    line-height: 1.7;
}

h1 {
    font-size: 1.8em;
    color: var(--color_white);
    margin-bottom: 20px;
    font-family: var(--font_inter);
    font-weight: 700;
    line-height: 1.2;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 20px;
    font-family: var(--font_lexend);
}
.text-highlight {
    color: var(--color_violet);
}

section {
    padding: 80px 20px;
}

.attribution {
    text-align: center;
}

a {
    color: var(--color_violet);
}

footer {
    padding: 10px;
}

/* Card styles */

.card {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.card-header {
    position: relative;
    height: 250px;
}

.card-header:after {
    position: absolute; 
    content: ''; 
    display: block; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%;
    background: var(--color_violet);
    mix-blend-mode: multiply;
}

.card-header img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.card-content {
    padding: 40px 30px 30px;
    background-color: var(--color_desatblue);
}

.stat p {
    font-family: var(--font_inter);
}

.stats span {
    display: block;
}

.stats .stat-number {
    font-size: 1.5em;
    color: var(--color_white);
    font-weight: 700;
}

.stats .stat-text {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 0.8em;
    letter-spacing: 1px;
}

@media only screen and (min-width: 500px) and (max-width: 1023px) {
    .card {
        max-width: 500px;
        margin: 0 auto;
    }
    .card-header {
        height: 350px;
    }
    .stats {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 50px;
    }
    .stats p {
        margin: 0 30px;
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 2em;
    }
    .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: left;
        max-width: 1000px;
        margin: 0 auto;
    }

    .card-header {
        height: auto;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        width: 50%;
    }

    .card-content {
        width: 50%;
        padding: 60px;
    }

    .stats {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 50px;
    }
    .stats p {
        margin: 0 50px 0 0;
    }
}